name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # Job de construcción y despliegue
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Replace GitHub token in config
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          # Reemplazar el token en el archivo de configuración
          if [ "$RUNNER_OS" == "Windows" ]; then
            powershell -Command "(Get-Content config.template.js) -replace '%%GH_TOKEN%%', '${{ secrets.GH_TOKEN }}' | Set-Content config.js"
          else
            sed "s/%%GH_TOKEN%%/${{ secrets.GH_TOKEN }}/g" config.template.js > config.js
          fi
          
      - name: Verify config file
        run: |
          echo "Config file content:"
          cat config.js
          
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4 # <-- Aquí está la actualización clave
        with:
          # Subir todo el directorio
          path: '.'
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
